{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h1>CONTACT ME</h1>
    <p class="lead">Send me a message!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>
                <form action="/guardar_datos" method="post">
                    <div class="form-group">
                        <label for="caja1">Subject:</label>
                        <input type="text" class="form-control" id="caja1" placeholder="Ingrese texto">
                    </div>
                    <div class="form-group">
                        <label for="caja2">Email address:</label>
                        <input type="text" class="form-control" id="caja2" placeholder="Ingrese texto">
                    </div>
                    <div class="form-group">
                        <label for="mensaje">Mensaje:</label>
                        <textarea placeholder="Escriba su mensaje" class="form-control" id="mensaje" rows="4"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="obtenerDatos()">Enviar</button>
                </form>
                </div>
            </p>
        </div>
    </div>
</div>

<script>
    function obtenerDatos() {
        var caja1Valor = document.getElementById("caja1").value;
        var caja2Valor = document.getElementById("caja2").value;

        alert("El valor de la Caja 1 es: " + caja1Valor + "\nEl valor de la Caja 2 es: " + caja2Valor);
    }

    
</script>


{% endblock %}