{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h1>CONTACT ME</h1>
    <p class="lead">Send me a message!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>
                <form action="/guardar_datos" method="post">
                    <div class="form-group">
                        <label for="caja1">Subject:</label>
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Ingrese texto">
                    </div>
                    <div class="form-group">
                        <label for="caja2">Email address:</label>
                        <input type="text" class="form-control" name="email" id="email" placeholder="Ingrese texto">
                    </div>
                    <div class="form-group">
                        <label for="mensaje">Mensaje:</label>
                        <textarea placeholder="Escriba su mensaje" class="form-control" name="message" id="message" rows="4"></textarea>
                    </div>
                    <input type="submit" value="Enviar mensaje">
                </form>
                </div>
            </p>
        </div>
    </div>
</div>


{% endblock %}